{% load static %}
<html>
    <head>
        <title>いとみみず。の備忘録</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>


      <div class="page-header">
        {% if user.is_authenticated %}
          <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
          <h1><a href="/">いとみみず。の備忘録</a></h1>

      </div>
      <div class="content container">
          <div class="row">
              <div class="col-xs-2">
                <div id ="profile">
                  <p>管理者:いとみみず。</p>
                  <p>職業  :学生      </p>
                  <p>プログラミング勉強中</p>
                </div>
              </div>
              <div class="col-xs-8">
              {% block content %}
              {% endblock %}
              </div>
              <div class="col-xs-2">
                <div id ="menu">
                    <ul>
                        <li>HOME</li>
                        <li>投稿フォーム</li>
                    </ul>
                </div>
              </div>



          </div>
      </div>
  </body>
</html>
